{% extends 'base.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title %}About{% endblock %}


{% block content %}
<div class="about">
    <p>&emsp;Hi! My name is Mihai Negrisan.
    Right now I'm learning to code, I'm learning german, I'm learning to cook and bake, I'm teaching high school students basic programming and I'm also in the 2nd year in college. I want to create things and I like to have variety and programming has it all. That's why I started to code. I can create anything.</p>
    <p>&emsp;I made this website to stand as a proof of my determination to build stuff. I'm adding new things every day. Some might not work, but don't worry ... I'll fix them. Go ahead, click on everything and see what it can do.</p>
    <p>&emsp;Also, here are some things that you should know about me.</p>

    <section class="abilities">
        <h2>Abilities:</h2>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>C++</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Excel</li>
            <li>G Drive</li>
            <br>
            <li>English C1</li>
            <li>German A1</li>
            <br>
            <li>High Energy</li>
            <li>Fast Learner</li>
            <li>Positive Attitude</li>
            <li>Teamplayer</li>
            <li>Adaptable</li>
            <li>Long Term Thinking</li>
            <li>Charismatic</li>
        </ul>
    </section>

    <section class="hobbies">
        <h2>Interests/Hobbies:</h2>

        <ul>
            <li>Reading non-fiction</li>
            <li>Snowboarding</li>
            <li>Cycling</li>
            <li>Volleyball - 3 yrs</li>
            <li>Swimming - 1 yr</li>
            <li>Table Tennis - 5 yrs</li>
            <li>Travelling</li>
            <li>Dancing - 2 yrs</li>
            <li>Tennis - 1 yrs</li>
        </ul>
    </section>
</div>

{% endblock %}
