{% extends 'base.html' %}
{% load static %}


{% block link %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block title %}Contact{% endblock %}

{% block content %}

<h1>Contact:</h1>
<p><b>Name:</b> Negrisan Mihai</p>
<p><b>Location:</b> Cluj, Romania</p>
<p><b>Phone number:</b> 075-595-6475</p>
<p><b>E-mail:</b> mihainegrisan1@gmail.com</p>
<p><b>Social Media:</b> <a target="_blank" href="https://www.linkedin.com/in/mihai-negrisan/"> LinkedIn</a></p>

{% endblock %}
