{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title%}Home{% endblock %}

{% block content%}

<h1>Negrisan Mihai - CV</h1>

<div class="experience">
    <h1>Work:</h1>
    <section>
        <h2>C++ Private Lessons</h2>
        <h5>Ian 2017 - Now</h5>
        <p>I offer private lessons for high-school students. I had
        10 students in total over the course of 2 years.</p>
        <p>When we meet for the first time I ask them a bunch of questions about their teacher, school, etc. I'm trying to get a feel of how much they like programming and how much they know so far. To do that, we just start to solve some problems.</p>
        <p>Students and their parents always thank me for helping them achieve a better grade or for taking the Bac exam.</p>
        <p>The things is that, it is not just about solving problems, but to be able to make that kid learn on it's own, making him excited about what's gonna do next and showing him that learning can be fun if you have the right teachers.</p>
        <!--
        <p>The best part of doing this is when they really start to see how much there is to learn out there, how exciting this journey can be and that they can do so much more if they start to .</p>
        -->
    </section>

    <section>
        <h2>eAgronom - Account and Sales Manager</h2>
        <h5>Sep 2018 - Nov 2018 (3 months)</h5>
        <p>I worked as a contractor for eAgronom, a farm management software company. I did:</p>
        <ol>
            <li>Inbound sales</li>
            <li>Customer support</li>
            <li>Content marketing on Facebook</li>
            <li>Creating and editing video tutorials</li>
            <li>Translation EN->RO</li>
        </ol>
        <p>I was calling possible customers that signed-up on the website, following up, emailing them. Every customer is different and all I did was trying to understand what their problems were and offered them the chance to try our software for free. I was constantly in contact with the farmers, helping them use the software. I kept a list of all possible customers with information like: name, number of ha, what their problems were, date of last interaction, how much are they using the app.</p>
        <p>I responded to farmer's questions in Intercom, email, or phone and collected all their opinions, suggestions, the things that don't work the way they wanted to in order to make the product better.</p>
        <p>I was writing and curating articles, videos, photos, anything to grab the attention of the farmers on Facebook and to help them with information. I also translated the whole website and added crops, varieties and all sorts of products into the database.</p>
        <p>After the first 2 weeks of introduction, once a week I had a call with one of the co-founders to set my goals, see if I achieved my target, how can he help me do my job better, discuss the problems with the farmers and with our software.</p>
        <p>I worked with: Google Drive, Slack, Intercom, Heap, Pipedrive, ChargeBee, PhraseApp, Aircall and Zoom.</p>
        <p>I learned to manage my time really well. I use google calendar every day for everything I do. I learned to communicate with people from other cultures and it was also the first time when someone really kept me accountable for the goals I was setting. It was a whole new experience that made me wanna do more and become more.</p>
        <p>I had the opportunity to have an impact on farmers from around the world and make their work easier and more intuitive. The eAgronom culture is awesome and it was a great experience overall. </p>
    </section>

    <section>
        <h2>Sales Manager and Exchange Partner at AIESEC</h2>
        <h5>Feb 2017 - Sep 2017 (8 months)</h5>
        <p>I was a volunteer. My day to day was finding, calling and meeting with companies to get sponsorships for our projects.</p>
        <p>Between calls I helped people from other countries to integrate into the Romanian culture and I assisted them for the projects they were participating on.</p>
        <p>I was intentional about my life. I went out of my way to help people and I also made a ton of friends. I was always there for them(my friends and the foreigners). I learned to communicate better, how to make people talk, how to interact and make people express themselves without the fear of being judged.</p>
    </section>

    <section>
        <h2>U-WE</h2>
        <h5>Feb 2018 - Jul 2018 (6 months)</h5>
        <p>U-WE was a company that held different brands developed inside our 12 people team. We provided: Drone shots (video editing included), Imprinted sweaters and events(parties) in different cities in Romania.</p>
        <p>I was in charge of calling customers for the drone business and also time management and budget for each project.</p>
    </section>
<!--
    <section>
        <h2>LUN - Marketing Internship</h2>
        <h5></h5>
        <p> I worked for 2 months as an intern at LUN(real estate software company) in Kiev on a marketing position. I learned some basic SEO (ex. keyword research) and Google Analytics.</p>
        <p> The project I worked on "Flatfy" was made for the Romanian market.  I did a bit of SEO(keyword research), worked with Google Analytics, did customer support on email, translation and "teaching" their machine learning algorithm.</p>
    </section>
-->
    <section>
        <h2>Other:</h2>
        <p>I made my first money investing in the stock market. I made 33% ROI in 8 months. I learned on my own a lot about companies, the economy and how to spot good deals.</p>
        <p>I also did internships at Office Depot and LUN(Kiev, Ukraine).</p>
    </section>

    <br><br><br>
</div>


<div class="education">
    <h1>Education:</h1>
    <section>
        <h2>C.N. "GH. M. Murgoci", Braila</h2>
        <h5>Student, 2012-2016</h5>
        <h5>Specialization: Mathematics - Computer Science</h5>
    </section>

    <section>
        <h2>The Entrepreneurship Academy</h2>
        <h5>Student, 2017 - 2018</h5>
        <h5>Specialization: Business and Entrepreneurship</h5>
    </section>

    <section>
        <h2>FSEGA</h2>
        <h5>Student 2nd year</h5>
        <h5>Specialization: Marketing ID</h5>
    </section>
</div>


{% endblock %}
