@import url(http://fonts.googleapis.com/css?family=Muli);
* {
    box-sizing: border-box !important;
}
body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

p {
    line-height: 1.8;
}

a {
    color: #12c064;
    text-decoration: none;
}

a:hover {
    color: #00a74f;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 32px !important;
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 0;
    margin: 10px 0 20px 0;
}

h2 {
    margin: 30px 0 20px;
}

ol {
    line-height: 1.5;
}

#header {
    padding: 5px 100px;
    font-size: 14px;
    background: #12c064;
    color: #fff;
    border-bottom: 4px solid #1cdf78;
    overflow: auto;
}

#header .logo {
    font-family: 'Muli', sans-serif;
    float:left;
    color: #f3f7cc;
    font-size: 20px;
    margin-right: 10%;
}

#header ul.menu {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}
#header ul.menu li {
    float: left;
    padding: 4px 10px;
}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color: #1b6d32;
    font-weight: bold;
}

#header a {
    color: #f3f7cc;
}
#header a:hover {
    color: #fff;
}

#header .user {
    float: right;
    padding-top: 4px;
}

#content {
    padding: 10px 100px;
    overflow: auto;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* forms */

.login-body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 100%;
    min-width: 340px;
    max-width: 450px;
    padding: 35px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
input {
    color: black;
}
input.btn {
    color: white !important;
}
input[type="checkbox"] {
    display: block;
    opacity: 1 !important;
}
label[for="id_photo"] {
    padding-left: 0;
    padding-top: 90px;
}
label[for="photo-clear_id"] {
    display: block;
    padding-left: 30px;
    margin-bottom: 30px;
}


/* messages */
ul.messages {
    margin: 10px 100px;
    padding: 0;
    list-style-type: none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin: 0;
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

ul.messages li.success { background: #81ce81; }
ul.messages li.success a { color: #0ac33e; }

ul.messages li.error { background: #a30029; color: #e9828e; }
ul.messages li.error a { color: #e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}


/* social-auth */

.social li {
    border: 1px solid #ddd;
    border-radius: 8px;
    list-style: none;
    padding: 10px 20px;
    margin: 0 0 10px 0;
}
.social li a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}
.social li.facebook { background: #3b5399; }
.social li.twitter { background: #00cffa; }
.social li.google { background: #de1710; }
