{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146585219-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146585219-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/base.css' %}?{% now 'D' %}" type="text/css" rel="stylesheet">

    {% block link %}

    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav>
      <ul class="sidenav">
        <li><a {% if section == 'home' %}class='active'{% endif %} href="{% url 'pages:home' %}">Home</a></li>
        <li><a href="{% url 'dashboard' %}">Login App</a></li>
        <li><a href="{% url 'blog:post_list' %}">Blog App</a></li>
        <li><a {% if section == 'about' %}class='active'{% endif %} href="{% url 'pages:about' %}">About</a></li>
        <li><a {% if section == 'contact' %}class='active'{% endif %} href="{% url 'pages:contact' %}">Contact</a></li>
        <li><a {% if section == 'survey' %}class='active'{% endif %} href="{% url 'pages:survey' %}">Survey</a></li>
        <li><a {% if section == 'weather' %}class='active'{% endif %} href="{% url 'pages:weather' %}">Weather</a></li>
      </ul>
    </nav>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

  </body>
</html>
