html, body {
    background-color: #a9d7d1;
    font-family: 'Raleway', Helvetica, sans-serif;
}

p, h2 {
    text-align: left;
}
p {
    font-size: 18px;
    text-align: justify;
    padding-right: 5%;
}
h1 {
    text-align: center;
}
ul {
  text-align: left;
  list-style: inside;
}
ul li {
    font-size: 20px;
}
.about {
    padding-left: 5%;
    padding-top: 20px;
}
section {
    display: inline-block;
    float: left;
    min-width: 350px;
}
section .abilities {
    width: 30px;
}
section .hobbies {

}
