html, body {
    background-color: #a9d7d1;
    font-family: 'Raleway', Helvetica, sans-serif;
}

p, h1 {
    text-align: left;

}
h1 {
    margin-left: 30px;
}
p {
    font-size: 20px;
    margin-left: 50px;
}
