{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146585219-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-146585219-1');
        </script>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/account.css' %}">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>

    <body>
        <div id="header">
            <span class="logo">
                <a href="{% url 'account:dashboard' %}">Home Login App</a>
            </span>

            {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == 'dashboard' %}class="selected"{% endif %}>
                    <a href="{% url 'account:dashboard' %}">My dashboard</a>
                </li>
                <li {% if section == 'images' %}class="selected"{% endif %}>
                    <a href="{% url 'account:images' %}">Images</a>
                </li>
                <li {% if section == 'people' %} class="selected"{% endif %}>
                    <a href="{% url 'account:people' %}">People</a>
                </li>
            </ul>
            {% endif %}

            <span class="user">
                {% if request.user.is_authenticated %}
                    Hello {{ request.user.username }},
                    <a href="{% url 'account:logout' %}">Logout</a>
                {%  else %}
                    <a href="{% url 'account:login' %}">Log-in</a>
                {% endif %}
            </span>
        </div>

        <a href="{% url 'pages:home' %}">Go Back</a>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="{% url 'account:dashboard' %}" class="close">x</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
