{% extends 'account.html' %}
{% load widget_tweaks %}

{% block title %}Log-in{% endblock %}


{% block content %}

<div class="login-body">
    <div class="login-form">
        <form action="{% url 'account:login' %}" method="post">
            {% csrf_token %}
            <!-- instead of form . as_p  -->
            <div class="row center-align">
                <h4>Login</h4>
                <h6>
                    {% if form.errors %}
                        <p>
                            Your username and password didn't match.
                            Please try again.
                        </p>
                    {% endif %}
                </h6>
            </div>

            {% for field in form %}
            <div class="row">
                <div class="input-field col s12">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {% render_field field class="validate" %}
                    {% if field.html_name == 'password' %}
                        <div>
                            <a href="{% url 'account:password_reset' %}"><b>Forgot password?</b></a>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}


            <input type="hidden" name="next" value="{{ next }}" />

            <div class="row"></div>
            <div class="row valign-wrapper">
                <div class="col s6">
                    <a href="{% url 'account:register' %}"><b>Create account</b></a>
                </div>
                <div class="col s6 right-align">
                    <input class="waves-effect waves-light btn" type="submit" value="Login">
                </div>
            </div>

            <div class="social">
                <ul>
                    <li class="facebook center-align">
                        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
                    </li>
                    <li class="google center-align">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>


{% endblock %}
<!-- Note that we have added a
hidden HTML <input> element to submit the value of a variable called
next. This variable is first set by the login view when you pass a next
parameter in the request (for
example, http://127.0.0.1:8000/account/login/?next=/account/).
The next parameter has to be a URL. If this parameter is given, the
Django login view will redirect the user to the given URL after a
successful login.
-->
