{% extends "account.html" %}
{% load widget_tweaks %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    {% if validlink %}
        <div class="login-body">
            <div class="login-form">
                <form action="." method="post">
                    {% csrf_token %}
                    <!-- instead of form . as_p  -->
                    <div class="row center-align">
                        <h4>Reset password</h4>
                        <h6>Please enter your new password twice:</h6>
                    </div>

                    {% for field in form %}
                    <div class="row">
                        <div class="input-field col s12">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {% render_field field class="validate" %}
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row"></div>

                    <div class="col s6 right-align">
                        <input class="waves-effect waves-light btn" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        {% else %}
            <p>The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.</p>
        {% endif %}
{% endblock %}

<!-- We check whether the provided link is valid. The view
PasswordResetConfirmView sets this variable and puts it in the context of
the password_reset_confirm.html template. If the link is valid, we display
the user password reset form. -->
