{% extends 'account.html' %}
{% load widget_tweaks %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="login-body">
        <div class="login-form">
            <form action="." method="post">
                {% csrf_token %}
                <!-- instead of form . as_p  -->
                <div class="row center-align">
                    <h4>Change password</h4>
                </div>

                {% for field in form %}
                <div class="row">
                    <div class="input-field col s12">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {% render_field field class="validate" %}
                    </div>
                </div>
                {% endfor %}

                <!-- <div class="row"></div> -->

                <div class="col s6 right-align">
                    <input class="waves-effect waves-light btn" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
